<section id="_contenido" >
    <div class="ngdialog-popup">
        <h4 translate>SWUP_MSG_00</h4>
        <div class="ct01">
            <p translate>SWUP_MSG_01</p>
            <input type="text" ng-model="idsoftware" />
        </div>
        <div class="ct01">
            <p translate>SWUP_MSG_02</p>
            <input type="text" ng-model="version" />
        </div>
        <div class="ct01">
            <input type="file" data-file-model="myFile" accept=".sh" />
        </div>
        <div class="ct02">
            <button class="buttonMedio" data-ng-click="software_load_send()" translate>SWUP_MSG_03</button>
        </div>
    </div>
</section>
