/bin
/uv5ki-nbx-webapp/bin
/uv5ki-nbx-webapp/obj
Debug
Release
*.ipch
*.sdf
*.user
*.opensdf
*.o
*.map
*.cxx
*.suo
*.log*
nbproject
/uv5ki-gw-cfg/plog.csv
/uv5ki-gw-cfg/logs
/uv5ki-gw-cfg/uvki-gwser
/uv5ki-gw-cfg/*.xml
/uv5ki-gw-cfg/last*
/uv5ki-gw-cfg/fs-win/home/serv/*.xml
/uv5ki-gw-cfg/fs-win/home/serv/last*
/uv5ki-gw-cfg/fs-win/home/serv/*.soap
/uv5ki-gw-cfg/fs-win/home/serv/*.json
/uv5ki-gw-cfg/temp.txt
/uv5ki-gw-cfg/include/config/cfgpasa - copia.hpp
/uv5ki-gw-cfg/Entregas
*copia*
/uv5ki-gw-cfg/fs-win/home/serv/*.old
/uv5ki-gw-cfg/fs-lnx/home/serv/*.old
/Inci/20170714. IPs de Pasarelas/*.soap
/uv5ki-gw-cfg/fs-win/home/serv/*.md5
/uv5ki-gw-cfg/*.md5
/uv5ki-gw-cfg/uv5ki-gw-cfg.exe
/uv5ki-gw-cfg/*.soap
/.vs/uv5ki
/uv5ki-gw-cfg/fs-win/home/GetCfgPasarela_id_hw=CGW3_.xml
/uv5ki-gw-cfg/fs-win/home/GetParametrosRecursoById_idRecurso=RD-SIM_tipo=0.xml
/packages
/uv5k-tools-vs2010.sln
